* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main { 
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #CCC5B9;
  position: relative;
  transition: background-color 0.5s ease;
}

.dark {
  background-color: #2d2d2d;
}

input {
  height: 80px;
  width: 500px;
  min-width: 150px;
  font-size: 50px;
  text-align: center;
  border: none;
  background-color: transparent;
  border-bottom: 4px solid rgb(95, 95, 95);
  color: black;
  transition: border-bottom 0.5s ease, color 0.5s ease;
}

.toggle {
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer;
}

.dark-input {
  border-bottom: 4px solid white;
  color: white;
}

input:focus {
  outline: none;
}

.user-modal {
  position: absolute;
  height: 65vh;
  z-index: 2;
  width: 50%;
  background-color: #8b8b8b;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease;
}

.modal-dark {
  background-color: #394552;
}

.about {
  position: absolute;
  bottom: 10px;
  font-size: 25px;
}


.color-dark {
  color : white;
}

.heart {
  animation: animate cubic-bezier(0.165, 0.84, 0.44, 1) 1s infinite;
}

@keyframes animate {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(359deg);
  }
}